@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.center .stars{
    background: #f6f6f6;
  max-width: 360px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  text-align: center;
}
.stars input {
    display: none;
}
.stars label{
    font-size: 100px;
    color: lightgrey;
    margin: 0 5px;
    text-shadow: 1px 1px #bbb;

}
.stars label:before {
  content:   'â­';
  font-size: 20px;
}

.stars input:checked ~ label{
    color: red;  
    text-shadow: 1px 1px #c60;
}

.stars:not(:checked)> label:hover,
.stars:not(:checked)> label:hover ~ label{
    color: gray;

}


.stars input:checked > label:hover,
.stars input:checked> label:hover ~ label{
    color: rebeccapurple;
    
}

.stars input:checked ~ .result {
    display: block;
}