html,body {
    box-sizing: border-box;
    font-family: 'Open sans , sans-serif';
    color: inherit;
    background-image: url(../assets/wallpaper.jpg);
    background-size: cover;
    

    
}

.mb-2{
    color:white
}
.login-register-wrapper{

    height: 720;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding:0 2em;
    border-radius: 5px;
    box-shadow: 0px 7px rgba(0,0,0,0.2);
    overflow: hidden;
    color:white;
    background:linear-gradient(180deg,rgba(138,171,143,1)0%,rgba(211,232,214,1) 52%,rgba(36,46,37,0)82%)

  }
.register-wrapper{
    height: 720px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding:0 2em;
    border-radius: 5px;
    box-shadow: 0px 7px rgba(0,0,0,0.2);
    overflow: hidden;
    color:white;
    background:linear-gradient(180deg,rgba(36,46,37,1)0%,rgba(211,232,214,1) 52%,rgba(124,130,124,0)82%)


}
#editbtn {
    text-align: center;
    margin-left: 40%; 
}

#addbtn{
    text-align: center;
    margin-left: 40%;
}
.editH1{
    text-align: center;
}
.add-congresses--wrapper{
   
    height: 720;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding:0 2em;
    border-radius: 5px;
    overflow: hidden;
    color:white;
    background:transparent
          
    
}
  

.edit-congresses--wrapper{
   
    height: 720;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding:0 2em;
    border-radius: 5px;
    overflow: hidden;
    color:white;
    background:transparent
      
    
    
    
}



  .container{
      width: 100%;
  }

  .nav-buttons{
      width: 100%;
      height: 88px;
      padding-top: 40px;
      opacity: 1;
      margin-bottom: 3em;
  }

  button{
      font-size: 1.5em;
      margin-right: 1em;
      border:0px;
      cursor: pointer;
      
  }

  button:focus{

    outline: 0px;
  }
  button:active{
      padding-bottom: 10px;
      border-bottom: solid 2px #1059ff;
  }


  button {
    font-size: 1.5em;
    margin-right:1em;
    border:0px;
    cursor: pointer;
    background-color: inherit;
    color: white;
 
}
button:focus {
    outline: 0px;
}
button.active {
    padding-bottom: 10px;
    border-bottom: solid 2px #69B99D;
} 

 /* footer: forgot section */
 .forgot-panel {
  position: relative;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 24px;
  border-top: solid 1px rgba(255,255,255,.3);    
}

  /* form styling */
  .form-group input {
      width: 100%;
      height: 35px;
      padding-left: 15px;
      border: none;
      border-radius: 5px;
      margin-bottom: 20px;
      background: rgba(255,255,255,.5);
  }
  .form-group label {
    text-transform: uppercase;
  }
  input.submit {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1em;
      text-align: center;
      color: rgba(255,255,255, 1);
      padding: 8px 0px;
      width: 100%;
      height: 35px;
      border: none;
      border-radius: 20px;
      margin-top: 23px;
      background-color: rgba(155,208,147, 1);
  
  }

  /*Form positioning and animation */

  form#registerform {
      left:500px;
      top:-230px;
      position:relative;
  }

  .forgot-panel {
      margin-top:-300px;
      color:gray;
  }

  form, .forgot-panel { 
      position: relative;
      transition: all .5s ease;
  }
  #loginBtn, #registerBtn {
      transition: all .5s ease;

  }
.submitbtn{


    color: white;
}

.error
{
    font-size: 12;
    color: red;
    text-align: left;
}

.scroll{
    overflow: auto;
}