.react-calendar__navigation{
    background-color:#89C5BD ;
}

.react-calendar__month-view__weekdays {
    background-color:#89C5BD ;

}

.react-calendar__month-view__days{
    background-color:#89C5BD ;
   
}

.react-calendar__viewContainer{
    background-color:#89C5BD ;

}
